body{
    background-image: url(/Assets/Images/papers.co-vy39-tree-anime-hero-pattern-background-blue-36-3840x2400-4k-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    animation: zoom 7s infinite alternate;

}

@keyframes zoom {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 105% 105%;
    }
}

.container{
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
    position: absolute;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 350px;
    height: 480px;
    border-radius: 50px;
    backdrop-filter:  blur(8px) grayscale(40%);
    box-shadow: 1px 5px 10px 5px rgb(205, 61, 9);
    padding: 10px;
}

#img1{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    align-self: center;
    position: absolute;
    top: 0;
    margin-top: 20px;
    display: flex;
    box-shadow: 1px 5px 20px 5px;
}

#p1{
    font-weight: 600;
    align-self: center;
    position: absolute;
    top: 0;
    margin-top: 160px;
    font-size: 25px;
    font-family: cursive;
}

#p2{
    font-weight: 600;
    align-self: center;
    position: absolute;
    top: 0;
    margin-top: 195px;
    font-size:18px;
    font-family: cursive;
}

.div1{
   position: absolute;
   align-self: center;
   bottom: 0;
   margin: 20px;
   text-align: center;
}

.div2{
    text-align: center;
}

h1{
    font-size:16px;
    margin: 0;
}

h2{
    margin: 5px;
    font-size:13px;
}

.handles{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.5;
}

.handles:hover{
    opacity: 1;
    transform: scale(1.15);
}